<div class="wrapper">
  <div class="wrapper__title work-sans-500">
    How To Add Custom Angular Material Icons
  </div>
  <div class="wrapper__content">
    <div class="wrapper__content__material-icons work-sans-500">
      <span class="title">material icons</span>
      @for(icon of exampleMaterialIcons; track icon.iconName) {
      <div class="icon-item">
        <div class="icon-item__icon">
          <mat-icon>{{ icon.iconName }}</mat-icon>
        </div>
        <div class="icon-item__name">{{ icon.iconLabel }}</div>
      </div>
      }
    </div>
    <div class="wrapper__content__custom-icons work-sans-500">
      <span class="title">custom icons</span>
      @for(icon of exampleCustomIcons; track icon.iconName) {
      <div class="icon-item">
        <div class="icon-item__icon">
          <mat-icon svgIcon="{{ icon.iconName }}"></mat-icon>
        </div>
        <div class="icon-item__name">{{ icon.iconLabel }}</div>
      </div>
      }
    </div>
  </div>
</div>
